language: node_js
node_js:
  - '0.10'
before_script:
    - npm install -g grunt-cli
    - npm install
script:
    - grunt coverage
after_success:
    - grunt coveralls
notifications:
    email: false
    webhooks:
        urls:
            - https://webhooks.gitter.im/e/ab5ad77c1151fc289de7
        on_success: change  # options: [always|never|change] default: always
        on_failure: always  # options: [always|never|change] default: always
        on_start: false     # default: false
